.gradient-container {
    display: flex;
    flex-direction: column; /* Змінено на column для вертикального розташування */
    align-items: center; 
  }
  
  .diagonal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
  }
  
  .gradient {
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
  }
  
  /* .container { */
  .content {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; /* Розподіл простору між елементами */
  }
  
  .column {
    flex: 1; /* Кожна колонка займає рівну частину доступного простору */
    border: 1px solid black;
    padding: 10px;
  }

/* ------- BTN LOGIC */
/* Hide checkbox */
.toggle-checkbox {
  display: none;
}

/* Button style */
.toggle-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

/* Default: Show first block, hide second */
.content-1 {
  /* display: block; */
  display: flex;
  flex-direction: row; 
  justify-content: space-between;

}
.content-2 {
  display: none;

}

/* When checked: Hide first block, show second */
.toggle-checkbox:checked ~ .content-1 {
  display: none;
}
.toggle-checkbox:checked ~ .content-2 {
  /* display: block; */
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
